<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.acsapp">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".utils.MediaPlayerService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".motivaciones.MotivacionesActivity"
            android:label="@string/titulo_mensaes_motivacionales"
            android:parentActivityName=".HomeActivity"
            />
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contactos.addeditcontacto.AddEditContactoActivity"
            android:label="@string/title_activity_add_edit_contacto"
             />
        <activity
            android:name=".contactos.contactodetail.ContactoDetailActivity"
            android:label="@string/title_activity_contacto_detail"
             />
        <activity android:name=".motivaciones.motivaciondetails.MotivacionDetailActivity" />
        <activity
            android:name=".tecnicas.TecincasActivity"
            android:label="@string/title_activity_tecincas"
             />
        <activity
            android:name=".emergencia.emergenciadetails.EmergenciaDetailsActivity"
            android:label="@string/title_activity_emergencia_details"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>